body {
    background-image: url("");
    background-color: black;
    text-align: center;
    font-family: Arial, Verdana, sans-serif;
    color: lightpink;
}

body {
    background-image: url("http://www.zingerbugimages.com/backgrounds/multi_colored_stars2.gif");
    background-color: #cccccc;
}

ul {
    list-style-type: none;
    background: #3399ff;
    padding: 20px;
}

ul li {
    background: #cce5ff;
    margin: 5px;
}

.photovar {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: pink;
}

